ipykernel
langchain
python-dotenv
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
streamlit
langchain_community
transformers
langchain-chroma
langchain_huggingface
bs4
langchain-openai
pypdf
PyPDF2
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
sentence_transformers
faiss-cpu
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
cassio 
datasets 
tiktoken
gradio
duckduckgo-search